# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Large TIFF and test images (ignore high res raw frames)
*.tiff
*.tif
*.png
!logo.png
maschera.png

# Environments
.venv/
venv/
ENV/
env/
.env

# IDEs
.vscode/
.idea/

# PyInstaller build artifacts
build/
dist/
*.spec
